body {
  font-family: sans-serif;
}

h1,
h3 {
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

tr {
  height: 30px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#ageCol,
#addressCol {
  background-color: aliceblue;
}

#nameCol,
#ageCol,
#phoneCol {
  width: 150px;
}
#addressCol {
  width: 400px;
}
